body {
	background-color: powderblue;
	text-align: center;
	font-family: serif;
}

h1 {
	color: red;
}

h2 {
	text-align: left;
}

nav {
	text-align: left;
	padding: 4px;
	border: 2px solid black;
	border-radius: 10px;
	word-spacing: 30px;
	background-color: white;
}

#logout{
	float: right;
}

a {
	font-size: 30px;
	text-decoration: none;
	color: green;
}

a:hover {
	background-color: black;
}

p {
	font-family: courier;
	font-style: italic;
	background-color: pink;
}

#btn {
	color: green;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
}
