body {
	background-color: powderblue;
}

h1 {
	color: red;
	text-align: center;
}

nav {
	word-spacing: 30px;
	background-color: white;
}

#logout{
	float: right;
}

a {
	font-size: 30px;
	text-decoration: none;
	color: green;
}

a:hover {
	background-color: black;
}

p {
	font-family: courier;
	font-style: italic;
	background-color: pink;
	text-align: center;
}